.ruby {
  background-color: #cc342d !important;
}

.net {
  background-color: #68217a !important;
}

.html5 {
  background-color: #f06529 !important;
}

.mobile-lang {
  background-color: #44a999 !important;
}

.windows {
  background-color: #6dc2e9 !important;
}

.linux {
  background-color: #f57421 !important;
}

.postgres {
  background-color: #326590 !important;
}

.mysql {
  background-color: #4a7996 !important;
}

.sqlserver {
  background-color: #ba141a !important;
}

.android {
  background-color: #80bd01 !important;
}

.aspnet {
  background-color: #0054a3 !important;
}

.jquery {
  background-color: #78cff5 !important;
}

.sinatra {
  background-color: #000 !important;
}