<!DOCTYPE html>
<html lang="en" class="no-js one-page-layout" data-classic-layout="false" data-mobile-only-classic-layout="true" data-inAnimation="fadeInUp" data-outAnimation="fadeOutDownBig">
  {% include head.html %}
  <body>
    <!-- CONTAINER -->
    <div class="container" id="container">
        {% include header.html %}
        <div class="wrapper">
          {% include sections/about.html %}
          {% include sections/portfolio.html %}
          {% include sections/contact.html %}
          {% include sections/blog.html %}
          {% include sections/resume.html %}
        </div>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>